version: "{build}"

platform: x64

clone_folder: c:\gopath\src\github.com\mpppk\cli-template

environment:
  GOPATH: c:\gopath

install:
  - echo %PATH%
  - echo %GOPATH%
  - git submodule update --init --recursive
  - go version
  - go env
  - go get -v -t -d ./...

build_script:
  - go test -v ./...

